<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansan.tool.api.user.mapper.UserInfoMapper">

    <resultMap id="userInfoResult" type="com.sansan.tool.api.entity.user.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserInfo" resultMap="userInfoResult" parameterType="map">
        select
        id,
        username,
        password
        from api_user
    </select>

</mapper>